<!--The booking variable is a string, so it will be displayed as is. If you want to display the booking object, you can use the v-for directive:-->
<div class="list-group" *ngFor="let booking of bookings">
  <div class="mb-2 list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <a routerLink="/edit/{{booking.id}}" class="mb-1 h5 text-decoration-none">{{booking.name}}</a>
      <button type="button" class="btn btn-sm btn-danger" (click)="deleteBooking(booking)">X</button>
    </div>
    <!-- | Pipes are used to format data for display. For example, the date pipe formats a date value into a string based on a format pattern.-->
    <p class="mb-1">{{booking.startDate | date:'dd/MM/yy'}}-{{booking.endDate | date:'dd/MM/yy'}}</p>
    <small>Room: {{booking.roomNumber}}</small>
  </div>
</div>
